*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Abyssinica, sans-serif;
}
    /* Navigation */
    nav {
        position: fixed;
        height: 70px;
        width: 100%;
        background: linear-gradient(to bottom, #333, #626262 );
        z-index: 10;
    }
.logo-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 50px;
    z-index: 25;
    display: none;
}
.liste-nav{
    background: linear-gradient(to bottom, #333, #626262 ); 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 20;
}
.item-nav{
    display: flex;
    align-items: center;
}
.item-nav a{
    font-size: 22px;
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
}
.item-nav a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #f1f1f1;
    transition: width 0.2s ease-in-out;
}
.item-nav a:hover::after{
    width: 100%;
}
@media screen and (max-width: 700px){
    .logo-menu {
        display: block;
    }
    .liste-nav{
        padding-top: 70px;
        flex-direction: column;
        height: auto;
        position: relative;
        display: none;
    }
     .liste-nav.active{
        display: block; 
     }
    .item-nav{
        height: 70px;
        justify-content: center;
    }
}


/* Acceuil */

.Acceuil{
    width: 100%;
    height: 100vh;
    min-height: 970px;
    background-image: url(ressources/le\ Niger\ en\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px dotted #777;
    padding-top: 1px;
}
.logo-APTN{
    border-radius: 50%;
    width: 180px;
    display: block;
    margin: 179px auto 0;
}
.Acceuil h1{
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 10px #000;
    color: #f1f1f1;
    margin-top: 10px;
    font-family: Merienda one, sans-serif;
}
.sous-titre{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #f1f1f1;
    margin: 5px 0;
    text-shadow: 0 0 10px #000;
}
.btn-acceuil{
    border-radius: 9999px;
    background: rgba(54, 140, 253, 0.986);
    border: 1px solid #333;
    color: #f1f1f1;
    text-align: center;
    font-size: 22px;
    display: block;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    margin: 30px auto 0;
    transition: all 0.2s ease-in-out;
}
.btn-acceuil:hover{
    background: rgb(37, 75, 201);
    color: #fff;
}

@media screen and (max-width: 850px){

    .Acceuil{
        height: 650px;
        min-height: auto;
        background-position: right;
    }
    .logo-APTN{
        margin: 120px auto 0;
    }
    .Acceuil h1{
        font-size: 60px;
    }
    .sous-titre{
        font-size: 23px;
    }
    .btn-acceuil{
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        margin: 15px auto 0;
    }
}

@media screen and (max-width: 400px){

    .Acceuil{
        height: 550px;
    }
    .logo-APTN{
        width: 150px;
        margin: 110px auto 0;
    }
    .Acceuil h1{
        font-size: 35px;
    }
    .sous-titre{
        font-size: 20px;
    }
    .btn-acceuil{
        width: 130px;
        height: 45px;
        line-height: 45px;
        font-size: 13px;
    }
    .logo-menu{
        top: 15px;
        width: 40px;
    }
}


/* Section asymétique */

.section-asymetrique{
     display: grid;
     grid-template: 200px repeat(3, auto) / 1fr 600px 1fr;
     background: #f1f1f1;
}
.section-asymetrique h2{
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 45px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/* Placement des éléments */

.bloc-1,
.img-grid-1{
    grid-area: 2 / 2 / 3 / 3;
}

.bloc-right,
.img-grid-2{
    grid-area: 3 / 2 / 4 / 3;
}

.bloc-3,
.img-grid-3{
    grid-area: 4 / 2 / 5 / 3;
}

.bloc{
    background: #333;
    color: #f1f1f1;
    position: relative;
    border-radius: 2px;
    height: 750px;
    margin-bottom: 250px; 
}
.img-grid{
    width: 500px;
    height: 700px;
    object-fit: cover;
    position: relative ;
}

.img-grid-1,
.img-grid-3{
    top: 130px;
    left: 20px;
}

.bloc-left{
    left: -300px;
}

.bloc-txt-left{
    width: 50%;
    height: 100%;
}

.bloc-txt-left h3{
    white-space: nowrap;
    font-size: 35px;
    margin: 30px 15px;
}

.bloc-txt-left p{
    line-height: 17px;
    padding: 15px;
}
.bloc button{
    border-radius: 9999px;
    outline: none;
    border: none;
    background: rgba(54, 140, 253, 0.986);
    border: 1px solid #333;
    color: #f1f1f1;
    padding: 20px 35px;
    font-size: 20px;
    margin: 35px auto;
    cursor: pointer;
    display: block;
}

.bloc-right{
    right: -300px;
}
.img-grid-2{
    top: 130px;
    left: 100px;
}
.bloc-txt-right{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.bloc-txt-right h3{
    position: relative;
    font-size: 35px;
    margin: 30px 15px;
     
}
.bloc-txt-right p{
    line-height: 17px;
    padding: 15px;
}

/* Lignes verticales*/

.ligne-gauche{
    grid-area: 1 / 2 / -1 / 3;
    border-left: 1px solid #333;
}
.ligne-droite{
    grid-area: 1 / 3 / -1 / 4;
    border-left: 1px solid #333;
}


@media  screen and (max-width: 1200px) {

    .section-asymetrique{
        grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
    }

    .section-asymetrique h2{
        font-size: 45px;
        padding-bottom: 0px;
    }

    .bloc-1{
       grid-area: 2 / 2 / 3 / 3; 
    }

    .img-grid-1{
       grid-area: 3 / 2 / 4 / 3;
    }

    .bloc-right{
        grid-area: 4 / 2 / 5 / 3;
    }

    .img-grid-2{
        grid-area: 5 / 2 / 6 / 3;
    }

    .bloc-3{
        grid-area: 6 / 2 / 7 / 3;
    }

    .img-grid-3{
        grid-area: 7 / 2 / 8 / 3;
    }

    .bloc{
        height: 100%;
        margin-bottom: 0px;
    }

    .img-grid{
        position: static;
        width: 600px;
        height: 750px;
    }

    .img-grid-1,
    .img-grid-3{
        top: 0px;
        left: 0px; 
    }
    .img-grid-2{
        top: 0;
        left: 0px;
    }
    .bloc-left{
        left: 0px;
    }
    .bloc-right{
        right: 0px;
    }

    .bloc-txt-left{ 
        width: 100%;
        height: 100%;
    }

    .bloc-txt-left h3,
    .bloc-txt-right h3{
        text-align: center;
    }
    .bloc-txt-left p,
    .bloc-txt-right p{
        font-size: 20px;
        line-height: 1.8;
        padding: 15px; 
    }

    .bloc button{
        font-size: 20px;
        padding: 15px 30px;
        margin-bottom: 30px;
    }

    .bloc-txt-right{
        position: static;
        width: 100%;
        height: 100%;
    }

}    


@media  screen and (max-width: 600px) {

    .section-asymetrique{
        grid-template: 150px repeat(6, auto) 100px / 100%;
    }
 
    .ligne-gauche, .ligne-droite{
        display: none;
    }

    .section-asymetrique h2{
        font-size: 30px;
    }
    
    .bloc,
    .img-grid{
        grid-area: auto;
    }

    .img-grid{
        width: 100%;
        height: 500px;
    }
    
    .bloc-txt-left h3,
    .bloc-txt-right h3{
        font-size: 25px;
    }
    
    
    .bloc-txt-right{
        width: 100%;
    }
     
}


/*------- Section parallax ----------*/

.parallax{
    width: 100%;
    height: 300px;
    background: url(ressources/Le\ Niger\ en\ image\ 2.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parallax p{
    font-size: 65px;
    color: #f1f1f1;
    font-family: Chiller, sans-serif;
}
.parallax span{
    display: block;
    font-size: 30px;
    color: #f1f1f1;
    font-family: Forte, sans-serif;
}

@media screen and(max-width: 400px) {
    .parallax p{
        font-size: 55px;
        font-family: Chiller, sans-serif;
    }
}

/* ----------  Section tatirfs ----------- */

.section-tarifs{
    padding-bottom: 150px;
    border-bottom: 1px dashed #333;
}

.section-tarifs h3{
    text-align: center;
    font-size: 45px;
    margin: 80px 0 20px;
    padding: 0 30px;
}

.section-tarifs hr{
    width: 200px;
    margin: 50px auto 50px;
}

.container-tarifs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cartes-tarifs{
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin: 15px 15px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.cartes-tarifs:hover{
    transform: translateY(-5px);
}

.cartes-tarifs h4{
    text-align: center;
    padding: 25px 20px;
    font-size: 35px;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    background: rgb(50, 140, 250);
}
.cartes-tarifs span{
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}
.cartes-tarifs:nth-child(2) h4{
    background: rgb(37, 75, 200);
}
.cartes-tarifs:nth-child(3) h4{
    background: rgb(30, 50, 100);
}

.cartes-tarifs p{
    font-size: 17px;
    padding: 20px 10px;
    border-top: 1px solid rgb(194, 194, 194);
}
.cartes-tarifs p:last-of-type{
    border-bottom: 1px solid rgb(194, 194, 194);
}
.cartes-tarifs p:nth-child(odd) {
    background: rgba(195, 195, 195, 0.219);
}

.cartes-tarifs a{
    display: block;
    text-decoration: none;
    border: 1px solid #333;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 9999px;
    color: #333;
    font-size: 18px;
    line-height: 50px;
    margin: 20px auto;
    transition: all 0.2 ease-in-out;
}
.cartes-tarifs a:hover{
    background: #333;
    color: #f1f1f1;
}

@media screen and(max-width: 900px){
    .section-tarifs h3{
        font-size: 30px;
        margin: 80px 0 80px;
    }
}
@media screen and(max-width: 425px){
    .section-tarifs h3{
        font-size: 30px;
        padding: 0 10px;
        margin: 50px 0;
    }
    .section-tarifs hr{
        width: 200px;
        margin: 20px auto 20px;
    }
}

/* ----------- Section Contact ---------- */

.section-contact{
    padding-bottom: 100px;
}
.section-contact h2{
    text-align: center;
    color: #333;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 70px 0 0 0;
}
.container-form{
    margin: 0 auto;
    width: 70%;
}
.form-groupe{
    position: relative;
    margin-bottom: 45px;
}
.form-groupe label{
    color: #aaa;
}
.form-groupe input{
    display: block;
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #333;
    color: #666;
    font-size: 20px;
}

textarea{
    width: 100%;
    height: 200px;
    border: none;
    border: 3px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    outline: none;
    font-size: 20px;
    background: #f1f1f1;
}
.form-groupe:nth-child(4){
    margin-bottom: 25px;
}

.form-groupe .button-sub{
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid rgb(144, 144, 144);
    border-radius: 9999px;
    background-image: linear-gradient(to right, transparent 50%, rgb(65, 65, 65) 50%, rgb(134, 134, 134)); 
    background-size: 200%;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.form-groupe .button-sub:hover{
    color: #fff;
    background-position: 100%;
    border: 3px solid#fff;
}

@media screen and(max-width: 1300px){
    .section-contact h2{
        padding: 70px 0  0 0;
    }
    .container-form{
        padding-left: 0;
    }
}

/* ----------- Footer ----------- */

footer{
    border-top: 1px solid #000;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

